*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.background{
    width: 100vw;
    height: 100vh;
    background: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #191919;
    padding: 20px;
    border-radius:10px ;
}

.calculator>form input{
    width: 60px;
    aspect-ratio: 1/1;
    font-size: 20px;
    background: transparent;
    color: white;
    margin: 5px;
    border-radius: 10px;
}